<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redbeard's Cues</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <a href="/"><img src="~/css/Header Image PNG.png" width="800" height="324" alt="Home"></a>
            <div class="top-left"><h1>Redbeard's Cues</h1></div>
            <div class="user-info">
                <div class="useraccount">
                    <ul>
                        <li class="userinfo">Welcome User!<label><img src="~/css/profileimg.png" width="25"></label></li>
                        <li><a href="/logout">Logout</a></li>
                        <!-- <button name="userinfo1">User Info</button> -->
                        <!-- <li class="viewaccount"><a href="#">View Account</a></li> -->
                    </ul>
                </div>
                <!-- <p><a href="#">View Cart<img src="Images\shopping-cart.png" width="30"></a></p> -->
            </div>
        </div>
        <div class="nav">
            <div class="signin" title="Click Here to Sign In!">| Sign In  |</div>
            <a href="/products">Products  |</a>
            <a href="/services"> Services  |</a>
            <a href="/about"> About Us  |</a>
            <!-- <a href="#"> Contact Us |</a> -->
        </div>
        
        <div id="account-toggle" style="display: none;">
            <form action="account" method="POST" name="account">
                <ul>
                    <li><a href="">Account</a></li>
                    <li><a href="">Orders</a></li>
                    <li><a href="">Wish List</a></li>
                    <li><a href="">Sign Out</a></li>
                </ul>
            </form>
        </div>

    <div class="main-content2">
        <div class="scrollbox">
            <div class="sign-in">
                <h2>Sign in!</h2><br>
                <form asp-action="Login" method="post">
                    @model User
                    <span asp-validation-for="Email"></span>
                    <input type="email" placeholder="Email"><br><br>
                                        
                    <span asp-validation-for="Password"></span>
                    <input type="password" placeholder="Password"><br>

                    <p><a href="Registration.html">Register Here!</a>
                        <a href="#">Forgot Password!</a>
                    </p>
                    <input type="submit" placeholder="Submit">
                </form>
            </div>
            
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/MDtQo3MqvNE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            
        </div>
    </div>
    
    <footer>
        <p>Redbeard Cues LLC</p>
    </footer>
    
    <div class="signpop" style="display:none">
    <form action="/Redbeard.html" method="POST" name="form">
        <hr width="96%">
        <h3>Sign In</h3>
        <ul>
            <li>Email: <br>
                <input type="text" name="email"></textarea></li>
                <li>Password: <br>
                    <input type="password" name="password"></textarea></li>
                </ul>
                <p>
                    <a href="Registration.html">Register Here!</a>
                    <a href="#">Forgot Password!</a>
                </p>
                <br>
                <button type="submit">Submit</button>
        <div class="xout">
            <label for="">X</label>
        </div>
    </form>
    <br><br><br><br><br><br><br>
    <!-- <hr width="96%"> -->
    



    </div>
    
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script type="text/javascript" src="Redbeard-user-toggle.js"></script>
</body>
</html>